@font-face {
    font-family:'Roboto' ;
    src: url(assets\fonts);
}

*{
	padding: 0;
	margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;

}
/* navbar */
.navbar{
	position: fixed;
	height: 80px;
	width: 100%;
	top: 0;
	left: 0;
	background: #1f2937;
}
.navbar .logo{
	width: 140px;
	height: auto;
	padding: 20px 100px;
}
.logo-text{
   color: white;
   font-weight: bold;
    float: left;
    text-decoration: none;
    margin: 30px 114px !important;
}
.navbar ul{
	float: right;
	margin-right: 20px;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 80px;
}
.navbar ul li a{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background: #3882F6;
	border-radius: 2px;
}
/* footer */
.footer {
    text-align: center;
    left: 0;
    bottom: 0;
    width: auto;
    background-color: #1f2937;
    color: white;
    text-align: center;
    height: auto;
	padding: 28px 100px;
 }
 .footer p{
    text-align: center;

 }

 /* hero section */
 .hero-box{

    padding: 7.4%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color : #1f2937;
    margin-top: 80px;
}
/* left Side */
.hero-box .left-side{

    width: 50%;
    padding-right: 100px;


}
.hero-box .left-side h1{
    color: #f9faf8;
     width: 70%;
    font-size: 48px;
    font-weight: extra-bold;
}


.hero-box .left-side p{
    margin-bottom: 11px;
    margin-right: 100px;
    color: #E5E7EB;
    width: 70%;
    font-size: 18px;
    font-weight: 50;
    letter-spacing: 1px;

}

.hero-box .left-side a{
    background-color: #3882F6;
    padding: 15px 30px;
    border-radius: 10px;
    color: #ffffff;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
}

.hero-box .left-side a:hover{
    background-color: #ffffff;
    color: #3882F6;
    transition: .2s;

}

/* Right Side */
.hero-box .right-side{
    width: 50%;
}

.hero-box .right-side .image-box img{
    height: 300px;
    width: auto;
    height: 300px;
}

/* gallary (image with discription section) */
.gallary{
    padding-top: 10%;
    padding-bottom: 10%;
}
.gallary h1{
    padding-bottom: 2%;
    font-weight: extra-bold;
    font-size: 36px;
    text-align: center;
    color: #1f2937;


}



.info-box{

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: flex-start;
    margin-top: 2%;
    margin-bottom: 0%;
    padding-left: 10%;
    padding-right: 10%;



}
.img-box{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
}
.img-box img{
    border-color: #3882F6;
    border-radius: 20px;
    width: 80%;
  height: auto;

}
.img-box p{
    padding: 15px;
  text-align: center;
}




/* qoute section */

.qoute-section{
    background: #E5E7EB;
	color: #1F2937;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    padding: 10%;
    font-style: italic;
}
blockquote {
	font-weight: 100;
	font-size: 2rem;
	max-width: 600px;
	line-height: 1.4;
	position: relative;
	margin: 0;
	padding: .5rem;
}

blockquote:before,
blockquote:after {
	position: absolute;
	color: #36352f;
	font-size: 8rem;
	width: 4rem;
	height: 4rem;
}

blockquote:before {
	content: '“';
	left: -5rem;
	top: -2rem;
}

blockquote:after {
	content: '”';
	right: -5rem;
	bottom: 1rem;
}

cite {
	line-height: 3;
	text-align: left;
}




.call-box-outter{
    background-color: #3882F6;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: space-evenly;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    border-radius: 11px;

}

.call-box-inner{
   padding-left: 1%;
   padding-right: 1%;
   padding-top: 4%;
   padding-bottom: 4%;
    border-radius: 50%;

}

.call-box-inner h1{
    color: #f9faf8;

    font-size: 28px;
    font-weight: extra-bold;
}
.call-box-inner p{
    margin-bottom: 11px;
    margin-right: 100px;
    color: #E5E7EB;
    width: auto;
    font-size: 15px;
    font-weight: 50;
    letter-spacing: 1px;

}

.call-box-outter a{
    background-color: #3882F6;
    
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 10px;
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    border: 2px solid #ffffff;
    margin-left: 0.1%;
}


.call-box-outter a:hover{
    background-color: #ffffff;
    color: #3882F6;
    transition: .2s;

}


/*  breakpoints for widths of devices:
    1000px 
    670px

*/


 @media (max-width: 1000px) {

    .logo-text{
        margin: 35px 14px !important;
    }

    .hero-box{
        display: flex;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    justify-content: flex-start;
	    align-items: center;
	    align-content: center;
        width: 100%;
        background-color: #1f2937;
        text-align: center;
        margin-top: 0;
        padding-left: 70px;
        
    }
    .hero-box .left-side{
        width: 80%;
        padding: 50px;
        text-align: center;
        margin: 0px;
        text-align: center;
    }
    .hero-box .right-side{
        
        width: 100%;
         padding: 0px;
    }
    .hero-box .left-side a{
        float: left;
        margin-left: 25%;
        margin-top: 5%;
    }
    .hero-box .right-side .image-box img{
        float: left;
        margin-left: 3%;
        width: 600px;
        height: 150%;
        margin-bottom: 10%;
    }
        .call-box-outter{
            margin-top: 3%;
            margin-bottom: 3%;
            margin-left: 5%;
            margin-right: 5%;
            width: auto;
        }

        .info-box{
            display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: stretch;
        }
        .img-box img{
            width: 60%;
        }


        .call-box-outter{
            margin-top: 2%;
            margin-bottom: 2%;
            margin-left: 4%;
            margin-right: 4%;
            width: auto;
        }
        .call-box-inner{
            padding-bottom: 0;
        }
        .call-box-inner h1{
            font-size: 20px;
        }
        
        .call-box-inner p{
            font-size: 15px;
            margin-right: 0px;
        }
        .call-box-outter a{
            width: 15%;
            margin-right: 10px;
            text-align: center;
        }
        .call-box-outter{
            text-align: center;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            align-content: center;
            padding-bottom: 10px;
        }
    
  }
  @media (max-width: 670px) {
    .navbar ul {
        float: none;
        background: #1F2937;
        width: 100%;
        
      }
      
    .hero-box{
        padding-top: 30%;
        padding-left: 9%;
        width: 100%;
        display: flex;
	    flex-direction: column;
	    flex-wrap: wrap;
	    justify-content: space-evenly;
	    align-items: center;
	    align-content: center;
        background-color: #1f2937;
        
    }
    .hero-box .left-side{
        width: 100%;
        padding: 100px;
        text-align: center;
        margin-left: 40px;
    }
    .hero-box .right-side{
        width: 100%;
        padding-left: 0%;
    }
    .hero-box .left-side a{
        float: left;
        margin-left: 20%;
        margin-top: 5%;
    }
    .hero-box .right-side .image-box img{
        width: 380px;
        height: 100%;
        margin-bottom: 10%;
    }
    
    
    .gallary{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    }
    .info-box{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    }
    
    .qoute-section {
        padding: 24%;
 
}
.blockquote{
    font-size: 1rem !important;
}
.call-box-outter{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 4%;
    margin-right: 4%;
    width: auto;
}
.call-box-inner{
    padding-bottom: 0;
}
.call-box-inner h1{
    font-size: 20px;
}

.call-box-inner p{
    font-size: 15px;
    margin-right: 0px;
}
.call-box-outter a{
    width: 15%;
    margin-right: 10px;
    text-align: center;
}
.call-box-outter{
    text-align: center;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
    padding-bottom: 10px;
}
  }